@import "tailwindcss";

@theme{
  --font-inter: "Inter",sans-serif;
}

:root {
  background-color: #0a0a0a;
  color: white;
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}